{% extends 'league/base_players.html' %}
{% block header %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/rickshaw/1.4.6/rickshaw.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/rickshaw/1.4.6/rickshaw.min.js"></script>
<style>
.rickshaw_legend {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(64,64,64,0.7);
}
.rickshaw_legend .action {
    opacity: 0.7;
    color: #fff;
}
</style>
{% endblock %}
{% block content %}
<h2>{{ player.name }}</h2>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Combined statistics</div>
            <ul class="list-group">
                <li class="list-group-item">
                    rank: {{ player.rank|floatformat:2 }}
                </li>
                <li class="list-group-item">
                    µ: {{ player.mu|floatformat:2 }}
                </li>
                <li class="list-group-item">
                    σ: {{ player.sigma|floatformat:2 }}
                </li>
                <li class="list-group-item">
                    matches played: {{ player.playerhistory_set.count }}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Attacker statistics</div>
            <ul class="list-group">
                <li class="list-group-item">
                    rank<sub>attacker</sub>: {{ player.attacker_rank|floatformat:2 }}
                </li>
                <li class="list-group-item">
                    µ<sub>attacker</sub>: {{ player.attacker_mu|floatformat:2 }}
                </li>
                <li class="list-group-item">
                    σ<sub>attacker</sub>: {{ player.attacker_sigma|floatformat:2 }}
                </li>
                <li class="list-group-item">
                    matches played: {{ player.matches_attacker_count }}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Defender statistics</div>
            <ul class="list-group">
                <li class="list-group-item">
                    rank<sub>defender</sub>: {{ player.defender_rank|floatformat:2 }}
                </li>
                <li class="list-group-item">
                    µ<sub>defender</sub>: {{ player.defender_mu|floatformat:2 }}
                </li>
                <li class="list-group-item">
                    σ<sub>defender</sub>: {{ player.defender_sigma|floatformat:2 }}
                </li>
                <li class="list-group-item">
                    matches played: {{ player.matches_defender_count }}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">historical data</div>
    <div class="panel-body">
        <div id="dummy"></div>
        <div id="chart"><div id="legend"></div></div>
    </div>
</div>
<script>

var series = [
        { color: '#848f39', name: 'defender', data: [
        {% for entry in history %}
        {% if not entry.was_attacker %}
        { x: {{ entry.match.timestamp| date:'U' }}, y: {{ entry.seperate_rank }} },
        {% endif %}
        {% endfor %}
        ]},
        { color: '#963b20', name: 'attacker', data: [
        {% for entry in history %}
        {% if entry.was_attacker %}
        { x: {{ entry.match.timestamp| date:'U' }}, y: {{ entry.seperate_rank }} },
        {% endif %}
        {% endfor %}
        ]},
        { color: '#2f254a', name: 'combined', data: [
        {% for entry in history %}
        { x: {{ entry.match.timestamp| date:'U' }}, y: {{ entry.rank }} },
        {% endfor %}
        ]},
    ];

var graph = new Rickshaw.Graph({
    element: document.querySelector("#chart"),
    renderer: 'line',
    series: series,
    padding: { left: 0.05 },
    interpolation: 'bundle'
});

var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );
var y_axis = new Rickshaw.Graph.Axis.Y( { graph: graph } );
var legend = new Rickshaw.Graph.Legend( { graph: graph,
       element: document.querySelector("#legend") } );
var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
    graph: graph,
    legend: legend
});

var resize = function() {
    dummy = document.querySelector("#dummy");
    graph.configure({ width: chart.clientWidth, height: 600 });
	graph.render();
}

window.addEventListener('resize', resize);
resize();
</script>
<ul class="nav nav-pills">
    <li>
    <a href="{% url 'league:players' %}">Back to player overview</a>
    </li>
    <li>
    <a href="{% url 'league:matches' %}?player={{ player.id }}">
        Show all matches involving {{ player.name }}</a>
    </li>
</ul>
{% endblock %}
