{% extends 'league/base_players.html' %}
{% block content %}
<h1>Players</h1>
<div class="panel panel-default">
    <div class="panel-heading">Player rankings</div>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th class="num">position</th>
                <th>player</th>
                <th class="num">rank</th>
                <th class="num">rank<sub>attacker</sub></th>
                <th class="num">rank<sub>defender</sub></th>
                <th class="num"># matches</th>
            </tr>
            {% for player in player_list %}
                <tr>
                    <td class="num">{{ forloop.counter }}</td>
                    <td><a href="{{ player.get_absolute_url }}">
                            {{ player.name }}</a></td>
                    <td class="num">{{ player.rank|floatformat:2 }}</td>
                    <td class="num">{{ player.attacker_rank|floatformat:2 }}</td>
                    <td class="num">{{ player.defender_rank|floatformat:2 }}</td>
                    <td class="num">{{ player.playerhistory_set.count }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
