{% extends 'league/base.html' %}
{% load staticfiles %}
{% block navigation_top %}
<li class="active"><a href="{% url 'league:players_top' %}">Top Ten</a></li>
{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static "league/rickshaw.min.css" %}">
<script src="//code.jquery.com/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js"></script>
<script src="{% static "league/rickshaw.min.js" %}"></script>
<style>
.rickshaw_legend {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(64,64,64,0.7);
}
.rickshaw_legend .action {
    opacity: 0.7;
    color: #fff;
}
</style>
{% endblock %}
{% block content %}
<h1>Top ten</h1>
<div class="panel panel-default">
    <div class="panel-heading">historical data</div>
    <div class="panel-body">
        <div id="dummy"></div>
        <div id="chart"><div id="legend"></div></div>
    </div>
</div>
<script>

var palette = new Rickshaw.Color.Palette({ scheme: 'classic9'});
{% load simplecookie_state_selector %}
{% get_state 'c' as mode %}
{% if mode == 'd' %}
var series = [
    {% for player in player_list %}
    {
    color: palette.color(),
    name: '{{ player.name }}\
        <a href="{{ player.get_absolute_url }}">\
        <span class="action glyphicon glyphicon-share-alt"></span>\
        </a>',
    data: [
    {% for entry in player.history %} {% if not entry.was_attacker %}
    { x: {{ entry.match.timestamp| date:'U' }}, y: {{ entry.seperate_rank }} },
    {% endif %} {% endfor %}
    ]
    },
    {% endfor %}
];
{% elif mode == 'd' %}
var series = [
    {% for player in player_list %}
    {
    color: palette.color(),
    name: '{{ player.name }}\
        <a href="{{ player.get_absolute_url }}">\
        <span class="action glyphicon glyphicon-share-alt"></span>\
        </a>',
    data: [
    {% for entry in player.history %} {% if entry.was_attacker %}
    { x: {{ entry.match.timestamp| date:'U' }}, y: {{ entry.seperate_rank }} },
    {% endif %} {% endfor %}
    ]
    },
    {% endfor %}
];
{% else %}
var series = [
    {% for player in player_list %}
    {
    color: palette.color(),
    name: '{{ player.name }}\
        <a href="{{ player.get_absolute_url }}">\
        <span class="action glyphicon glyphicon-share-alt"></span>\
        </a>',
    data: [
    {% for entry in player.history %}
    { x: {{ entry.match.timestamp| date:'U' }}, y: {{ entry.rank }} },
    {% endfor %}
    ]
    },
    {% endfor %}
];
{% endif %}

var graph = new Rickshaw.Graph({
    element: document.querySelector("#chart"),
    renderer: 'line',
    series: series,
    padding: { left: 0.05 },
    interpolation: 'bundle'
});

var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );
var y_axis = new Rickshaw.Graph.Axis.Y( { graph: graph } );
var legend = new Rickshaw.Graph.Legend( { graph: graph,
       element: document.querySelector("#legend") } );
var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
    graph: graph,
    legend: legend
});

var resize = function() {
    dummy = document.querySelector("#dummy");
    graph.configure({ width: chart.clientWidth, height: 600 });
	graph.render();
}

window.addEventListener('resize', resize);
resize();
</script>
<ul class="nav nav-pills">
    <li>
    <a href="{% url 'league:players' %}">Back to player overview</a>
    </li>
</ul>
{% endblock %}
